spring:
  datasource:
    url: jdbc:postgresql://db:5432/saasconsultas
    username: saas
    password: saas123
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  sql:
    init:
      mode: never

  h2:
    console:
      enabled: false

server:
  port: 8080

logging:
  level:
    root: INFO
    dev.imrob.painelconsulta: INFO
    org.springframework.security: WARN
    org.flywaydb: DEBUG
